/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    background-color: #1e293b;
}

.logo a {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #38bdf8;
}

/* Mobile */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #1e293b;
        width: 100%;
        flex-direction: column;
        padding: 10px 25px;
        min-height: 20vh;

        /* Animation Setup */
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.4s ease;
        pointer-events: none;
    }

    .nav-links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .menu-toggle {
        display: block;
    }
}


/* main */
.main{
    padding: 40px 8%;
   
}